@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

/* Navigation */

.hidden-on-desktop {
    display: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-links li{
    padding: .75em;
}

h1 {
    font-size: 3rem;
    margin-right: .5em;
}

/* Main */

img {
    width: 100%;
    margin-top: .5em;
}

.text-container {
    display: flex;
}

.main {
    width: 70%;
    margin-right: 2em;
}

.sub-section {
    font-style: italic;
    width: 25%;
}

/* Footer */

footer p {
    font-size: .65em;
}

/* Media Queries */

@media (max-width: 500px) {
    /* Navigation */

    .hidden-on-desktop {
        display: flex;
    }

    .alert-info {
        border: solid lightgray 1px;
        background-color: rgb(167, 239, 239);
        padding: .75em;
    }
    
    .alert-info a {
        text-decoration: none;
        color: black;
        margin: 0 auto;
    }
    
    h1 {
        margin-top: .25em;
        text-align: center;
        margin-right: 0;
    }

    nav {
        flex-direction: column;
    }

    .nav-links {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .nav-links li{
        background-color: lightgray;
        margin: .5em 0;
    }

    /* Main */

    .text-container {
        flex-direction: column;
    }

    .main {
        width: 100%;
        margin-right: 0;
    }
    
    .sub-section {
        font-style: italic;
        width: 100%;
    }
}