.jumbotron {
    background-image: url(pizza.png);
    height: 346px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron-banner {
    width: 100%;
    text-align: center;
    opacity: 0.7;
}